@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #e2e8f0;
    background: linear-gradient(to right, #e2e8f0 8%, #cbd5e0 38%, #e2e8f0 54%);
    background-size: 1000px 640px;
    
    position: relative;
    
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}


